html {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

div {
    padding: 4em 4em 4em 4em;
    border: 1px solid red;
}

p {
    border: 1px solid red;
    font-size: 2rem;
    padding: 5rem;
    text-align: justify;
}

#second {
    padding: 2em;
}