/* Basic Selector */
* {
    background-color: lightblue;
}

/* Group Selector */
.selector1 , .selector2 , .selector3 {
    background-color:red;
    width: 200px;
    height: 200px;
    margin: 10px;
}

/* Inner Selector */
.selector {
    width: 400px;
    height: 400px;
    background-color: green;
}

.selector .inner-selector {
    margin: 10px auto;
    width: 200px;
    height: 200px;
    background-color: blue;
}

/* Adjecent Selector */
.adjecent-selector h2 + p{
    font-size: 100px;
}


/* Child Selector */
.child-selectors > p {
    color: red;
}

/* Child Selector with * */ 
.child-selector-asteriks * {
    color: green;
}

/* Sibling Selector */
.sibling-selector ~ h1 {
    color: coral;
}

/* Attribute Selectors */
input[type="text"] {
    width: 100%;
}
