:root {
  --div1-color: blue;
  --div2-color: red;
  --div3-color: green;
  --div-size: 300px;
  --div-margin-bottom: 10px;
}

.div1 {
  background-color: var(--div1-color);
  width: var(--div-size);
  height: var(--div-size);
  margin-bottom: var(--div-margin-bottom);
}

.div2 {
  background-color: var(--div2-color);
  width: var(--div-size);
  height: var(--div-size);
  margin-bottom: var(--div-margin-bottom);
}

.div3 {
  background-color: var(--div3-color);
  width: var(--div-size);
  height: var(--div-size);
}
